ELEVENLABS_API_KEY=
VITE_DEBUG_SKIP_AUDIO=false

REGULATOR_VOICE_ID=pNInz6obpgDQGcFmaJgB
GRAND_REGULATOR_VOICE_ID=VR6AewLTigWG4xSOukaG
LAWYER_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_TTS_MODEL_ID=eleven_multilingual_v2
